[*.{cpp,h,hlsl,hlsli}]
charset = utf-8
#スペルミスをエラー表示
spelling_error_severity = error
#チェック対象を識別子(変数名など)コメントに限定する
spelling_checkable_types = identifiers,comments
#辞書を英語(米国)に固定
spelling_languages = en-us
#標準の除外辞書設定はそのまま
spelling_use_default_exclusion_dictionary = true
#除外する辞書は自分で指定
spelling_exclusion_path = ./exclusion.dic